<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="ZOREVINA STORES">
    <meta name="keywords" content="ZOREVINA STORES All laptops, phones and gadgets">
    <meta name="author" content="ZOREVINA STORES">
    <meta name="robots" content="noindex, nofollow">
    <title>ZOREVINA STORES</title>

    <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/dsbfohkyg/image/upload/v1715937899/zorev-removebg-preview_yjvxc5.png">

    <link rel="shortcut icon" type="image/x-icon" href="https://res.cloudinary.com/dsbfohkyg/image/upload/v1715937899/zorev-removebg-preview_yjvxc5.png">

    <link rel="stylesheet" href="{% static 'assetss/css/bootstrap.min.css' %}">


    <link rel="stylesheet" href="{% static 'assetss/css/dataTables.bootstrap4.min.css' %}">

    <link rel="stylesheet" href="{% static 'assetss/plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assetss/plugins/fontawesome/css/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'assetss/css/style.css' %}">
</head>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/675074b92480f5b4f5a7c55f/1ie94fufr';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

<body class="account-page">
<form action="{% url 'accounts:login' %}" method="POST">
  {% csrf_token %}
    <div class="main-wrapper">
        <div class="account-content">
            <div class="login-wrapper">
                <div class="login-content">
                    <div class="login-userset">
                        <div class="login-logo logo-normal">
                            <img  style="height: 100px"; src="https://res.cloudinary.com/dsbfohkyg/image/upload/v1715937899/zorev-removebg-preview_yjvxc5.png" alt="img">
                        </div>
                        <a href="{% url 'giftweb:home' %}" class="login-logo logo-white">
                            <img  style="height: 120px"; src="https://res.cloudinary.com/dsbfohkyg/image/upload/v1715937899/zorev-removebg-preview_yjvxc5.png" alt>
                            </a>
                        <div class="login-userheading">
                            <h3>Sign In</h3>
                            <h4>Please login to your account</h4>
                        </div>
                        <div class="form-login">
                            <label>Username</label>
                            <div class="form-addons">
                                    {{ form.username }}
                                    {% if form.errors.username %}
                                      <div class="text-danger">{{ form.errors.username }}</div>
                                    {% endif %} 
                                   <img src="{% static 'assetss/img/icons/mail.svg' %}" alt="img">
                            </div>
                        </div>
                        <div class="form-login">
                            <label>Password</label>
                            <div class="pass-group">
                                {{ form.password }}
                                {% if form.errors.password %}
                                  <div class="text-danger">{{ form.errors.password }}</div>
                                {% endif %}
                                    <span class="fas toggle-password fa-eye-slash"></span>
                            </div>
                        </div>
                        <div class="form-login">
                            <div class="alreadyuser">
                            </div>
                        </div>
                        <div class="form-login">
                            <button type="submit" class="btn btn-login" ><i class="fas fa-check"></i> Submit</button>
                        </div>
                        <div class="signinform text-center">
                            <h4>Don’t have an account? <a href="{% url 'accounts:register' %}" class="hover-a">Sign Up</a></h4>
                        </div>


                    </div>
                </div>
                <div class="login-img">
                    <img src="{% static 'assetss/img/login.jpg' %}" alt="img">
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const togglePasswordButtons = document.querySelectorAll('.toggle-password');
        togglePasswordButtons.forEach(button => {
            button.addEventListener('click', function () {
                const passwordInput = this.previousElementSibling; // The password input field is the previous sibling
                const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordInput.setAttribute('type', type);
                this.classList.toggle('fa-eye');
                this.classList.toggle('fa-eye-slash');
            });
        });
    });
</script>
    <script src="{% static 'assetss/js/jquery-3.6.0.min.js' %}"></script>

    <script src="{% static 'assetss/js/feather.min.js' %}"></script>

    <script src="{% static 'assetss/js/jquery.slimscroll.min.js' %}"></script>

    <script src="{% static 'assetss/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assetss/js/dataTables.bootstrap4.min.js' %}"></script>

    <script src="{% static 'assetss/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'assetss/plugins/apexchart/apexcharts.min.js' %}"></script>
    <script src="{% static 'assetss/plugins/apexchart/chart-data.js' %}"></script>

    <script src="{% static 'assetss/js/script.js' %}"></script>
</body>

</html>
