{% extends 'core/base.html' %}

Tracking Section
add this into the features  and value context
Easy And Autoamtic Admin control panel where everything is automatic and easy to use, no stress, creating packages and shipment link is automated and easy done within 20 seconds 
 the tracking also displays map 
 current location , pckages images and relevant data in oder for site to be legit
 well enhanced and responsive user interface. very appealing and designed websites make your client trust the legitness of your site. the design was made by professionals

the links are easiy accessble and very legit

Website Ownership and client Accounts section
A website with a one time payment. no montly renewals

 it comes with two business emails with your website name. it never goes to the spam folder but alweays to the inbox.

 you will free writup designs and formats for sending emails


 it has legit webstore in it . where your clients can shop for products and packages and pay with crypto 

 it comes with account balance for each user that egisters to your website, they have there own account id, bitcoin wallet, ethereum and usdt wallet

 the wallets by default will be your own crypto wallets but can be easily changed by the admin from the control panel

 they can fund their crypto wallet (the site owner crypto ) easily.
 ***( Chat GPT please intelligently expand on this)
Please use these  Details to create other Two appealing sections that adds more value to the description context

Admin Notification and Client Communication
you wil be notified whenever someone visits your website or clicks the link to your website. you will be notified by email and Tidio instantly about it . it also comes with details about there location and IP Address . and  it they login you will be notified about who log in and the login data. . 

also we add add Tidio chat support for a private and easy communication with client that only you has access to.

the users will recieve email notification instanly for every transaction they make in site.
it comes with the name of your website and the transaction details in the email

user password storage and login History storage 
this is wehere passwords every user in your websites is stored and easily accessible

#########################################################################################################################################################################################################################################################################################3##

use this data

Client Side Features

Email Registration Confirmation with bank logo( the mail also requires them to upload their drivers licence for identity verification)

the registration is simplified requring things, dte of birth , name , Address , account type and currency

the clients has the option of coosing which account they want eg: 
        ('Savings Account', 'Savings Account'),
        ('Current Account', 'Current Account'),
        ('Checking Account', 'Checking Account'),
        ('Fixed Deposit Account', 'Fixed Deposit Account'),
        ('Crypto Currency Account', 'Crypto Currency Account'),
        ('Business Account', 'Business Account'),
        ('Non Resident Account', 'Non Resident Account'),
        ('Cooperate Business Account', 'Cooperate Business Account'),
        ('Investment Account', 'Investment Account'),

each user/client will have their specific account number or id which will reflect in all the site section.

it also comes with crypto funcionlities they will have crypto account and id of Bitcoin, Ethereum and USDT Trc20

users will have cash balance which they use to transfer funds from their accounts

each acount is well automated and computerized and secured and well seperated

they will have the option funding their ccounts through crypto and also being able to withdraw the crypto. they also have the option of deposit crypto.

they recieve email confirmation after each transaxtion about the details of their transaction

they will also have a verification status, transation receipts and exporting/download the transaction data history file as pdf

online chat support will be available in the site

Admin Side Features

the admin will be to create any account he wants with details he wants

will be able to delete any user account with all its data

wil be notified everytime user logs into the site

will be able to fund any user account whether crypto or cash account

can change any user crypto wallet and replace it with another

can chan any client name, email and passwords anytime

will see every transaction and deposit ever made in the site 

will be able to change the transaction history including dates, time amunt, recipient and more

can modify any clients accoun data and see their login history passwords

will able to approve transactions and the client will be notified that it is succesfull 

 there so much value in the site that you can only experience it as you own .

 purchasing this website is a one time payment no monthly renewals and you also get free access to write ups and design for your work to be very legit/ 

 also you should look at our user privacy and policy 


{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

                <div class="nk-content nk-content-fluid">
                    <div class="container-xl wide-lg">
                        <div class="nk-content-body">
                            <div class="nk-block-head">
                                <div class="nk-block-head-content">
                                    <div class="nk-block-head-sub"><span>Account Setting</span></div>
                                    <h2 class="nk-block-title fw-normal">My Profile</h2>
                                    <div class="nk-block-des">
                                        <p>This is your account details. <span class="text-primary"><em class="icon ni ni-info" data-toggle="tooltip" data-placement="right" title="Tooltip on right"></em></span></p>
                                    </div>
                                </div>
                            </div>
                            <!-- .nk-block-head -->
                            <ul class="nk-nav nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void">Personal</a>
                                </li>

                            </ul>
                            <!-- .nk-menu -->
                            <!-- NK-Block @s -->
                            <div class="nk-block">
                                <div class="alert alert-warning">
                                    <div class="alert-cta flex-wrap flex-md-nowrap">
                                        <div class="alert-text">
                                            <p>When you're on public Wi-Fi, hackers can more easily access your computer and steal personal information from it. You should never access your online banking through a computer, tablet, or mobile phone unless
                                                you're on a secure Wi-Fi network with a password, or using your own cell phone data connection. This is much more difficult for thieves to hack, so it keeps your information safer.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- .alert -->
                                <div class="nk-block-head">
                                    <div class="nk-block-head-content">
                                        <h5 class="nk-block-title">Personal Information</h5>
                                        <div class="nk-block-des">
                                            <p>Basic info, like your name and address, that you using on Royal Bank Corporation.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- .nk-block-head -->
                                <div class="nk-data data-list">
                                    <div class="data-head">
                                        <h6 class="overline-title">Basics</h6>
                                    </div>
                                    <div class="data-item" data-toggle="modal" data-target="#profile-edit">
                                        <div class="data-col">
                                            <span class="data-label">Full Name</span>
                                            <span class="data-value">{{ user.full_name }}</span>
                                        </div>
                                        <div class="data-col data-col-end"><span class="data-more"><em class="fas fa-user"></em></span></div>
                                    </div>
                                    <div class="data-item" data-toggle="modal" data-target="#profile-edit">
                                        <div class="data-col">
                                            <span class="data-label">User Name</span>
                                            <span class="data-value">{{ user.username }}</span>
                                        </div>
                                        <div class="data-col data-col-end"><span class="data-more"><em class="fas fa-user"></em></span></div>
                                    </div>
                                    <!-- .data-item -->
                                    <div class="data-item" data-toggle="modal" data-target="#profile-edit">
                                        <div class="data-col">
                                            <span class="data-label">Display Name</span>
                                            <span class="data-value">{{ user.first_name|slice:"1"|capfirst }}{{ user.last_name|slice:"1"|capfirst }}</span>
                                        </div>
                                        <div class="data-col data-col-end"><span class="data-more"><em class="fas fa-user"></em></span></div>
                                    </div>
                                    <!-- .data-item -->
                                    <div class="data-item">
                                        <div class="data-col">
                                            <span class="data-label">Email</span>
                                            <span class="data-value">{{ user.email }}</span>
                                        </div>
                                        <div class="data-col data-col-end"><span class="data-more disable"><em class="fas fa-envelope"></em></span></div>
                                    </div>
                                    <!-- .data-item -->
                                    <div class="data-item" data-toggle="modal" data-target="#profile-edit">
                                        <div class="data-col">
                                            <span class="data-label">Phone Number</span>
                                            <span class="data-value text-soft">{{ user.contact_no }}</span>
                                        </div>
                                        <div class="data-col data-col-end"><span class="data-more"><em class="fas fa-phone"></em></span></div>
                                    </div>
                                    <!-- .data-item -->
                                    <div class="data-item" data-toggle="modal" data-target="#profile-edit">
                                        <div class="data-col">
                                            <span class="data-label">Security Question</span>
                                            <span class="data-value">NONE</span>
                                        </div>
                                        <div class="data-col data-col-end"><span class="data-more"><em class="fas fa-question-circle"></em></span></div>
                                    </div>
                                    <!-- .data-item -->
                                    <div class="data-item" data-toggle="modal" data-target="#profile-edit">
                                        <div class="data-col">
                                            <span class="data-label">Security Answer</span>
                                            <span class="data-value">NONE</span>
                                        </div>
                                        <div class="data-col data-col-end"><span class="data-more"><em class="fas fa-lock"></em></span></div>
                                    </div>
                                    <!-- .data-item -->
                                    <div class="data-item" data-toggle="modal" data-target="#profile-edit" data-tab-target="#address">
                                        <div class="data-col">
                                            <span class="data-label">Address</span>
                                            <span class="data-value">{{ user.address.street_address }}</span>
                                        </div>
                                        <div class="data-col data-col-end"><span class="data-more"><em class="fas fa-map-marker-alt"></em></span></div>
                                    </div>
                                    <div class="data-item" data-toggle="modal" data-target="#profile-edit" data-tab-target="#address">
                                        <div class="data-col">
                                            <span class="data-label">City</span>
                                            <span class="data-value">{{ user.address.city }}</span>
                                        </div>
                                        <div class="data-col data-col-end"><span class="data-more"><em class="fas fa-city"></em></span></div>
                                    </div>
                                    <div class="data-item" data-toggle="modal" data-target="#profile-edit" data-tab-target="#address">
                                        <div class="data-col">
                                            <span class="data-label">Country</span>
                                            <span class="data-value">{{ user.address.country }}</span>
                                        </div>
                                        <div class="data-col data-col-end"><span class="data-more"><em class="fas fa-globe"></em></span></div>
                                    </div>
                                    <div class="data-item" data-toggle="modal" data-target="#profile-edit" data-tab-target="#address">
                                        <div class="data-col">
                                            <span class="data-label">Religion</span>
                                            <span class="data-value">{{ user.address.religion|capfirst }}</span>
                                        </div>
                                        <div class="data-col data-col-end"><span class="data-more"><em class="fas fa-praying-hands"></em></span></div>
                                    </div>
                                    <div class="data-item" data-toggle="modal" data-target="#profile-edit" data-tab-target="#address">
                                        <div class="data-col">
                                            <span class="data-label">Account Type</span>
                                            <span class="data-value">{{ user.account.account_type }}</span>
                                        </div>
                                        <div class="data-col data-col-end"><span class="data-more"><em class="fas fa-user"></em></span></div>
                                    </div>
                                    <div class="data-item" data-toggle="modal" data-target="#profile-edit" data-tab-target="#address">
                                        <div class="data-col">
                                            <span class="data-label">Account Currency</span>
                                            <span class="data-value">{{ user.account.account_currency }}</span>
                                        </div>
                                        <div class="data-col data-col-end"><span class="data-more"><em class="fas fa-money-bill"></em></span></div>
                                    </div>
                                    <!-- .data-item -->
                                </div>
                                <!-- .nk-data -->
                                <div class="nk-data data-list">
                                    <div class="data-head">
                                        <h6 class="overline-title">Preferences</h6>
                                    </div>
                                    <div class="data-item">
                                        <div class="data-col">
                                            <span class="data-label">Language</span>
                                            <span class="data-value">NONE</span>
                                        </div>
                                        <div class="data-col data-col-end"><a href="#" data-toggle="modal" data-target="#profile-language" class="link link-primary"><em class="fas fa-language"></em></a></div>
                                    </div>
                                    <!-- .data-item -->
                                    <div class="data-item">
                                        <div class="data-col">
                                            <span class="data-label">Date Format</span>
                                            <span class="data-value">M d, YYYY</span>
                                        </div>
                                        <div class="data-col data-col-end"><a href="#" data-toggle="modal" data-target="#profile-language" class="link link-primary"><em class="fas fa-globe"></em></em></a></div>
                                    </div>
                                    <!-- .data-item -->
<div class="data-item">
    <div class="data-col">
        <span class="data-label">Current Timezone</span>
        <span class="data-value" id="timezone"></span>
    </div>
    <div class="data-col data-col-end">
        <a href="#" data-toggle="modal" data-target="#profile-language" class="link link-primary">
            <em class="far fa-calendar-alt"></em>
        </a>
    </div>
</div>

<script>
    // Fetch IP address data using AJAX
    var xhr = new XMLHttpRequest();
    xhr.open('GET', 'https://ipapi.co/json/');
    xhr.onload = function() {
        if (xhr.status === 200) {
            var data = JSON.parse(xhr.responseText);
            var timezoneElement = document.getElementById('timezone');

            // Update HTML elements with fetched data
            timezoneElement.textContent = data.timezone;
        }
    };
    xhr.send();
</script>

                                    <!-- .data-item -->
                                </div>
                                <!-- .nk-data -->
                            </div>
                            <!-- NK-Block @e -->
                            <!-- //  Content End -->
                        </div>
                    </div>
                </div>
{% endblock %}
